@charset "UTF-8";

header {height: 100px;}

nav {height: 50px; background-color:#f79606;}

.contents .addBox {width: 500px;}

.contents .reservation-box {width:450px;}
.reserve {height:250px;}
.reserve .reserved-time {background-color:#B1520F;}
.reserve .confirm {background-color: #CF6317;}
.reserve .inquiry {background-color:#B1520F;}
.reserve-confirm {color:#fff; font-size: 25px; }

footer {height:80px;}

.input-form {width:230px; height:30px; margin-left:10px;}
